@{
    ViewData["IsHero"] = true;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>Home - Jacob and Elisa</title>
    <meta name="description" content="We would like to invite you to our big day.">
    @*<link rel="manifest" href="manifest.json">*@
    @*<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
        asp-fallback-test-class="visually-hidden" asp-fallback-test-property="position"
        asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-href="~/lib/font-awesome/css/all.min.css"
        asp-fallback-test-class="fab" asp-fallback-test-property="font-style" asp-fallback-test-value="normal" />
    <link rel="stylesheet" href="~/dist/css/hero.css" asp-append-version="true" />
    <style>
        html { overflow-x: hidden; overflow-y: hidden; height: 100%; }
        body { overflow-y: scroll; height: 100%;}
    </style>
</head>

<body>
    <img style="display:none;" src="~/dist/img/hero/hero.jpg"/>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
        <partial name="Navigation"></partial>
    </nav>
    <section class="hero">
        <div class="container" id="layout-text">
            <div class="row">
                <div class="col">
                    <div class="hero-content text-center">
                        <h1>Jacob and Elisa</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col text-center">
                    <a asp-controller="Registry" asp-action="Index" class="btn btn-hero btn-large rsvp-btn">Registry</a>
                </div>
                <div class="col text-center">
                    <a href="#rsvp" class="btn btn-hero btn-large rsvp-btn">RSVP</a>
                </div>
                <div class="col-sm-3 hidden-xs"></div>
            </div>
        </div>
        <div class="down-arrow floating-arrow"><a href="#invitation"><i class="fa fa-angle-down"></i></a></div>
    </section>
    
    @* @RenderBody() *@
    <main role="main">
    @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center content">
                    <span class="to-top-wrapper">
                        <a href="#top" class="to-top">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </span>
                    <p>Made by Jacob with lots of <span class="fa fa-heart pulse2"></span> for Elisa</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-src="~/lib/jquery/jquery.min.js"
        asp-fallback-test="window.jQuery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
        integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.bootstrap"></script>
    <script src="~/dist/js/site.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
