@model RsvpViewModel

<div id="rsvp-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                <div class="section-padding">
                    <h3>Thank you!</h3>
                    <p>We are glad to see you join us on our big day.</p>
                    <div id="add-to-cal"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h3>Will you be joining us?</h3>
            <p>Our wedding is July 3<sup>rd</sup>, 2023</p>
            <form id="rsvp-form" class="rsvp-form" asp-action="RSVP" asp-controller="Guest" method="POST" asp-antiforgery="true">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-input-group">
                            <i class="fa fa-user pre-form-fa"></i><input asp-for="Name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-input-group">
                            <i class="fa fa-users pre-form-fa"></i><input asp-for="NumberAttending" placeholder="How Many Attending" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-input-group">
                            <i class="fa fa-envelope pre-form-fa"></i><input asp-for="Email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-input-group">
                            <i class="fa fa-phone pre-form-fa"></i><input asp-for="PhoneNumber" placeholder="Phone number">
                        </div>
                    </div>
                </div>
                <button class="btn-fill rsvp-btn">
                    Submit
                </button>
            </form>
        </div>
        @*TODO: Write us a note instead*@
    </div>
</div>