<h4>Decade</h4>
<h5>Our Father</h5>
<partial name="OurFather"/>
<h5>10 Hail Mary's</h5>
<partial name="HailMary"/>
<h5>Glory Be</h5>
<partial name="GloryBe"/>
<h5>Fatima Prayer</h5>
<div class="row">
    <div class="col">
        <p>O my Jesus, forgive us our sins, save us from the fires of hell, and lead all souls to Heaven, especially those in most need of Thy mercy.</p>
    </div>
    <div class="col">
        <p>Dómine Jesu, dimitte nobis débita nostra, salva nos ab igne inferni, perduc in caelum omnes ánimas, praesertim eas, quae misericórdiae tuae máxime indigent.</p>
    </div>
</div>