<div class="row">
    <div class="col">
        <p>
            Glory be to the Father, and to the Son, and to the Holy Spirit; as it was in the beginning, is now, and
            ever shall be, world without end. Amen.
        </p>
    </div>
    <div class="col">
        <p>
            Gloria Patri, et Filio, et Spiritui Sancto. Sicut erat in principio, et nunc et semper, et in saecula
            saeculorum. Amen.
        </p>
    </div>
</div>