<div class="row hail_mary">
    <div class="col">
        <p>Hail Mary, full of grace, the Lord is with thee; blessed art thou amongst women, and blessed is the fruit of thy womb, Jesus. Holy Mary, Mother of God, pray for us sinners, now and at the hour of our death. Amen.</p>
    </div>
    <div class="col">
        <p>Ave Maria, gratia plena Dominus tecum benedicta tu in mulieribus, et benedictus fructus ventris tui, Jesus. Sancta Maria mater Dei, ora pro nobis peccatoribus, nunc et in hora mortis nostrae. Amen.</p>
    </div>
</div>