<div class="row">
    <div class="col">
        <p>
            Our Father, Who art in heaven, Hallowed be Thy Name. Thy Kingdom come. Thy Will be done, on earth as it
            is in Heaven. Give us this day our daily bread. And forgive us our trespasses, as we forgive those who
            trespass against us. And lead us not into temptation, but deliver us from evil. Amen.
        </p>
    </div>
    <div class="col">
        <p>
            Páter nóster, qui es in cáelis, sanctificétur nómen túum. Advéniat régnum túum. Fíat volúntas túa, sícut
            in cáelo et in térra. Pánem nóstrum quotidiánum da nóbis hódie, et dimítte nóbis débita nóstra, sícut et
            nos dimíttimus debitóribus nóstris. Et ne nos indúcas in tentatiónem: sed líbera nos a málo. Amen.
        </p>
    </div>
</div>