<div id="rosary">
    <h3>Rosary</h3>
    <h4>Apostles Creed</h4>
    <p>
        I believe in God the Father almighty, Creator of heaven and earth. And in Jesus Christ, His only Son, our Lord,
        Who was conceived by the Holy Spirit, born of the Virgin Mary, suffered under Pontius Pilate, was crucified,
        died, and was buried. He descended into hell; the third day He rose again from the dead; He ascended into
        heaven, and sits at the right hand of God the Father almighty, from thence He shall come judge the living and
        the dead. I believe in the Holy Spirit, the holy Catholic Church, the communion of saints, the forgiveness of
        sins, the resurrection of the body and life everlasting. Amen.
    </p>
    <h4>Our Father</h4>
    <p>For the intentions and health of the Holy Father Pope Francis and all the souls in pergatory.</p>
    <partial name="OurFather"/>
    <h4>Three Hail Mary's</h4>
    <h5>For the increase in the virtue of Faith</h5>
    <partial name="HailMary" />
    <h5>For the increase in the virtue of Hope</h5>
    <partial name="HailMary" />
    <h5>For the increase in the virtue of Love</h5>
    <partial name="HailMary" />
    <h4>Glory Be</h4>
    <partial name="GloryBe"/>
</div>
