@model ThankYouViewModel
<div class="container rsvp">
    <h1>Thank You!!</h1>
    <p>Thanks @Model.Name, can't wait to see you there!</p>
    <p>If you need to change anything about your rsvp you can sign in with this</p>
    <p>Username: @Model.Username</p>
    <p>Password: @Model.Password</p>
</div>