@{
    ViewData["Title"] = "Registry";
}

<div class="container">
    <div class="mx-md-5 mt-5 text-center">
        <h2>Honeymoon Fund</h2>
        <p>
            We are so grateful that you would like to send us a wedding gift. Any contributions towards our honeymoon fund would be greatly appreciated.
        </p>
        <a class="btn" href="https://www.paypal.com/paypalme/jacoblewinski">Honeymoon Fund</a>
    </div>
    <div><div id="script_myregistry_giftlist_iframe"></div></div>
    <div class="mx-md-5 text-center">
        <h2>Registry at Ashley's Mercantile </h2>
        <p>
            We have a separate registry at Ashley's Mercantile that we are unable to add to the registry below.
            To get us something from Ashley's please shop at the store if you're local or by  calling: (256) 747-5508.
            Please visit
            <a href="https://www.facebook.com/ashleymercantile2018" target="_blank">Ashley Mercantile's Facebook Page</a>
            for more information about this great store.
        </p>
    </div>
</div>

@section Scripts{
    <script type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=jnN2aPOa7MVCLGHQ5nxGcQ2&v=2'></script>
}