@{
    ViewData["Title"] = "Registry";
}

<div class="container">
    <div class="text-center mx-md-5 mt-5">
        <h2>Registry at Ashley's Mercantile </h2>
        <p>
            We have a separate registry at Ashley's Mercantile that we are unable to add to the registry below.
            To get us something from Ashley's please shop at the store if you're local or by  calling: (256) 747-5508.
            Please visit
            <a href="https://www.facebook.com/ashleymercantile2018" target="_blank">Ashley Mercantile's Facebook Page</a>
            for more information about this great store.
        </p>
    </div>
    <div id="script_myregistry_giftlist_iframe"></div>
</div>

@section Scripts{
    <script type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=jnN2aPOa7MVCLGHQ5nxGcQ2&v=2'></script>
}