@{
}

<div class="container">
    <div id="script_myregistry_giftlist_iframe"></div>
</div>

@section Scripts{
    <script type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=jnN2aPOa7MVCLGHQ5nxGcQ2&v=2'></script>
}