@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    
    <div class="timer text-center">
        @*<div class="timer_section">
            <div id="countdown_weeks" class="timer_number"></div>
            <div class="timer_label">Weeks</div>
        </div>*@
        <div class="timer_section">
            <div id="countdown_days" class="timer_number">??</div>
            <div class="timer_label">Days</div>
        </div>
        <div class="timer_section">
            <div id="countdown_hours" class="timer_number">??</div>
            <div class="timer_label">Hours</div>
        </div>
        <div class="timer_section">
            <div id="countdown_minutes" class="timer_number">??</div>
            <div class="timer_label">Minutes</div>
        </div>
        <div class="timer_section d-none d-sm-inline-block">
            <div id="countdown_seconds" class="timer_number">??</div>
            <div class="timer_label">Seconds</div>
        </div>
    </div>
</div>