<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header"><strong>3rd July</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
            <div>
                <h5>Wedding <span class="time">2:30PM - 3:30PM</span></h5>
                <p>Located at Corpus Cristi in Oneonta, AL</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
            <div>
                <h5>Reception <span class="time">4:00PM - 10:00PM</span></h5>
                <p>Located at the Lake Weddings!</p>
                <small>280 Blakely Lake Drive Oneonta, AL 35121</small>
            </div>
        </div>
    </div>
</div>