<div class="container">
    <div class="row flex-lg-row-reverse">
        <div class="col-lg-6 col-12">
            <div id="church-map" class="map-option">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.5172346533636!2d-86.44593058440387!3d33.97924592902001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888991b75f30d03f%3A0xf66b0ffaa3deb7bf!2sCorpus%20Christi%20Catholic%20Church!5e0!3m2!1sen!2sus!4v1676154799654!5m2!1sen!2sus"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="venue-map" style="display: none" class="map-option">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6620.117347119938!2d-86.372296!3d33.939619!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88898ff37fe1e8ff%3A0x609be5549cd57c56!2sThe%20Lake%20Weddings%20and%20Special%20Events!5e0!3m2!1sen!2sus!4v1679796535441!5m2!1sen!2sus"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-12 border-end">
            <h3 class="header"><strong>Monday July 3<sup>rd</sup></strong></h3>
            <div class="row d-none d-md-block">
                <div class="col">
                    <h5>Adoration and Confession <span class="time">1:30PM - 2:30PM</span></h5>
                    <p>Located at Corpus Christi in Oneonta, AL</p>
                </div>
                <div class="col-12 col-md-5">
                    <a class="btn btn-hero btn-small map-toggle-btn" data-show="#church-map" data-hide="#venue-map">
                        <i class="fa fa-map-marker" style="padding-right: 10px;"></i>Show Church
                    </a>
                </div>
            </div>
            
            <div class="d-flex justify-content-center d-md-none">
                <button class="btn btn-hero btn-small map-toggle-btn text-center h5" data-show="#church-map"
                        data-hide="#venue-map">
                    Adoration and Confession
                    <br /><small><i>1:30PM - 2:30PM</i></small><br/>
                    Corpus Christi in Oneonta, AL
                </button>
            </div>
            <div class="row d-none d-md-block mt-5">
                <div class="col">
                    <h5>Ceremony <span class="time">2:30PM - 3:30PM</span></h5>
                    <p>Located at Corpus Christi in Oneonta, AL</p>
                </div>
                <div class="col-12 col-md-5">
                    <button class="btn btn-hero btn-small" data-bs-toggle="modal" data-bs-target="#dressCodeModal">
                        <i class="fa fa-children" style="padding-right: 10px;"></i>Dress Code
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-center d-md-none">
                <button class="btn btn-hero btn-fill map-toggle-btn text-center h5" data-show="#church-map"
                        data-bs-toggle="modal" data-bs-target="#dressCodeModal" data-hide="#venue-map">
                    Ceremony <small><i>2:30PM - 3:30PM</i></small><br>
                    Corpus Christi in Oneonta, AL
                </button>
            </div>
            <div class="row d-none d-md-block mt-5">
                <div class="col">
                    <h5>Reception <span class="time">4:00PM - 10:30PM</span></h5>
                    <p>
                        Located at the Lake Weddings!
                    </p>
                </div>
                <div class="col-md-5">
                    <a class="btn btn-hero btn-small map-toggle-btn" data-hide="#church-map" data-show="#venue-map">
                        <i class="fa fa-map-marker" style="padding-right: 10px;"></i>Show Venue
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center d-md-none">
                <button class="btn btn-hero btn-small map-toggle-btn text-center h5" data-hide="#church-map"
                    data-show="#venue-map">
                    Reception <small><i>4:00PM - 10:30PM</i></small><br>
                    The Lake Weddings!
                </button>
            </div>
            <div class="d-flex justify-content-center d-md-none">
                <button class="btn btn-hero btn-small text-center h5" data-show="#church-map"
                        data-bs-toggle="modal" data-bs-target="#dressCodeModal" data-hide="#venue-map">
                    Cliick here for Dress Code
                </button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" tabindex="-1" id="dressCodeModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dress Code for Corpus Christi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="~/dist/img/modesty.png" class="img-fluid" alt="Dress Code" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>