<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header"><strong>29th July</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
            <div>
                <h5>Wedding <span class="time">1:30PM - 3PM</span></h5>
                <p>Located at St. Mary of the Visitation in Huntsville, AL</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
            <div>
                <h5>Reception <span class="time">4PM - 12AM</span></h5>
                <p>Located at the Botanical Gardens!</p>
            </div>
        </div>
    </div>
</div>