<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header"><strong>29th July</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
            <div>
                <h5>Wedding <span class="time">1:30PM - 3PM</span></h5>
                <p>Located at St. Mary of the Visitation in Huntsville, AL</p>
            </div>
            @* <div>
                <p><strong>21st January</strong></p>
                <h5>Hansville <span class="time">4PM - 8PM</span></h5>
                <p>We want to invite everyone to celebrate our engagement.</p>
            </div> *@
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
            <div>
                <h5>Reception <span class="time">4PM - 12AM</span></h5>
                <p>Located at the Botanical Gardens</p>
            </div>
        </div>

    </div>
    <div class="row section-padding align-items-center">
        <div class="col text-center">
            <a class="btn btn-accent btn-small" data-bs-toggle="modal" data-bs-target="#dc-modal">
                <i class="fa fa-barcode"></i>&nbsp;&nbsp;Dress code
            </a>
        </div>
    </div>
    <div id="dc-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h3 class="text-center section-padding">Ugh... dress codes?</h3>
                    <h5>Engagement Party <span class="time">4PM - 8PM</span></h5>
                    <p>
                        <strong>Formal or Semi-Formal</strong>
                        <br>
                        There will be lots of dancing and moving about so make sure you're
                        dress appropriately. Keep in mind to dress modestly for love of God
                        and love of all those around you.
                    </p>
                    <h5>Wedding Ceremony<span class="time">2PM - 4PM</span></h5>
                    <p>
                        <strong>Formal</strong>
                        <br>
                        Remember that not only are you dressing up for us but also for Jesus
                        who is truly present in the sacrament of the alter.
                    </p>
                    <h5>Wedding <span class="time">6PM-12AM</span></h5>
                    <p>
                        <strong>Formal or Semi-Formal</strong>
                        <br>
                        There will be lots of dancing and moving about so make sure you're 
                        dress appropriately. Keep in mind to dress modestly for love of God
                        and love of all those around you.
                    </p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>