<div class="container">
    <h1>I see you</h1>
    <p>I don't know if you meant to, but I will. I am logging all requests to this site and will make sure that nothing malicious happens. If this continues I will take action. You have been warned.</p>
</div>