@{
}
<div class="container">
    <div class="text-center">
        <h3 class="header">Where to stay</h3>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">
            Oneonta, Alabama is a beautiful place with wonderful people but unfortunately far
            from many hotels. The hotel we have chosen is about 35mins from the Church and
            28mins from the venue. There are a few options for Airbnb’s near the area so please
            feel free to check them out as well.
        </div>
        <div class="col align-self-center">
            <p style="line-height:20px" class="mb-0">Holiday Inn Express & Suites Gadsden</p>
            <p style="line-height:20px" class="mb-0">106 Walker Street</p>
            <p style="line-height:20px">Gadsden, AL 35904</p>
            <a class="btn" href="https://www.ihg.com/holidayinnexpress/hotels/us/en/gadsden/gadsn/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99801505&icdv=99801505&qSlH=GADSN&qGrpCd=JLW&setPMCookies=true&qSHBrC=EX&qDest=106+Walker+Street%2C+Gadsden%2C+AL%2C+US&srb_u=1" target="_blank">Book a Room</a>
        </div>
    </div>
</div>