@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHero";
}
<section id="intro" class="dark section-padding">
    <partial name="Intro"/>
</section>
<section class="events section-padding" id="events">
    <partial name="Events" />
</section>
<section id="map" class="section-padding">
    <partial name="Map"/>
</section>
<section class="rsvp dark section-padding" id="rsvp">
    <partial name="_Rsvp" />
</section>

@section Scripts{
}