@{
    ViewData["Title"] = "Home Page";
}
<section id="intro">
    <partial name="Intro" />
</section>
<section class="events section-padding" id="events">
    <partial name="Events" />
</section>
<section class="rsvp section-padding" id="rsvp">
    <partial name="Rsvp" />
</section>

@section Scripts{
}