@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHero";
}
<section id="intro">
    <partial name="Intro" />
</section>
<section class="events section-padding" id="events">
    <partial name="Events" />
</section>
<section id="map">
    <partial name="Map"/>
</section>
<section class="rsvp section-padding" id="rsvp">
    <partial name="_Rsvp" />
</section>

@section Scripts{
}