@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHero";
}
<section id="invitation" class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <h3>We are getting married</h3>
                <h3>July 3<sup>rd</sup>, 2023</h3>
            <p>We would love for you to join us!</p>
            <div class="share-bar"></div>
        </div>
    </div>
    </div>
    <partial name="Countdown"/>
</section>
<section id="intro" class="dark section-padding">
    <partial name="Intro" />
</section>
<section class="events section-padding" id="events">
    <partial name="Events" />
</section>
<section class="dark section-padding">
    <partial name="Hotel" />
</section>
<section class="section-padding" id="slideshow">
    <partial name="Slideshow" />
</section>
<section class="rsvp dark section-padding" id="rsvp">
    <partial name="_Rsvp" />
</section>

@section Scripts{
    <script src="~/dist/js/index.js" asp-append-version="true"></script>
}