@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHero";
}
<section id="invitation" class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <h3>We are getting married</h3>
            <h3>3<sup>rd</sup> of July '23'</h3>
            <p>We would love for you to join us on this special day</p>
            <div class="share-bar"></div>
        </div>
    </div>
    </div>
    <partial name="Countdown"/>
</section>
<section id="intro" class="dark section-padding">
    <partial name="Intro" />
</section>
<section class="events section-padding" id="events">
    <partial name="Events" />
</section>
<section class="section-padding" id="slideshow">
    <partial name="Slideshow" />
</section>
<section class="rsvp dark section-padding" id="rsvp">
    <partial name="_Rsvp" />
</section>

@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js" integrity="sha512-FkM4ZGExuYz4rILLbNzw8f3HxTN9EKdXrQYcYfdluxJBjRLthYPxxZixV/787qjN3JLs2607yN5XknR/cQMU8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script src="~/dist/js/index.js" asp-append-version="true"></script>
}