@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="header">How we met</h3>
        </div>
    </div>
    <div class="row flex-lg-row-reverse">
        @*<div class="col-md-3 hidden-sm hidden-xs"><img src="~/dist/img/elisa.jpg" alt="Beautiful Elisa"/></div>*@
        <div class="col-lg-5"><img src="~/dist/img/jacob.jpg" alt="handsome Jacob" /></div>
        <div class="col-lg-7">
            <p>
                I first met Elisa at a bible study in Huntsville. I don't remember the exact time or day, and neither
                does she, so don't give me too much grief about it. I can remember as I started talking to her and
                her siblings, I just knew that there was something special about them. I started spending more and
                more time with them at different events like the brunches they would host. I even invited them to a
                small birthday thing I was having and that was the day I fell in love with Elisa. I remember that just
                thinking of her filled my heart with warmth. I wanted to keep getting to know her as friends and let so
                I did nothing and did not blatantly act on my love or show it to her. The next January we were on the
                same trip to DC for the March for Life and she started to fall for me. She saw how I was protective of
                her and those around us and admired that of me. Eventually she fell more in love with me and I was honored
                with more invites to family events until I finally told her that I liked her and was interested in courting
                her. So after a whole 13 months of me loving this amazing woman, I finally got to court her. Six months later
                we got engaged and soon, two years after I fell in love with her, we will get married!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5"><img src="~/dist/img/elisa.jpg" alt="beautiful Elisa" /></div>
        <div class="col-lg-7">
            <p>
                Jacob and I don't remember exactly when we met but we know it was at one of the young adult events in Huntsville.
                That's where our friendship grew. I would always get so nervous going to those events but when I knew Jacob was
                going to be there in brought me a lot of peace. He was calm, friendly and I never felt like he was board talking
                to me or the people I was with. As we continued to get to know each other I found myself wanting to invite Jacob
                to all the events my siblings and I were going to. All this time I was truly happy growing in friendship and
                didn't think it would ever be more until we went to the March for Life together with St. Stephen's. There I saw
                how caring, protective, funny and what a genuinely good guy he was. Fast-forward to the spring our family was
                going through a difficult time and Jacob was there to help in any way he could. I was growing more in love with
                this man but we had never talked about "us". Sometimes I wanted to know so bad what he was thinking. I asked him on
                one occasion and I was sure he would say something but his words were "I like... dancing with you". Jacob says he
                was too nervous to say anything but I believe it was the Holy Spirit's guiding him as I was not ready until I was.
                At a wedding together, we were dancing and I asked again what he was thinking not expecting he's answer "I really
                liked you". My heart definitely stopped for a second and then I responded "I like you too". From there is has been a
                journey of learing more about one another, navigating courtship, growing together and most importantly striving to
                seek God's guidance through it all. This is just a small part of the beautiful love story we call ours. 
            </p>
        </div>
    </div>
</div>
