@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="header">How we met</h3>
        </div>
    </div>
    <div class="row flex-lg-row-reverse">
        @*<div class="col-md-3 hidden-sm hidden-xs"><img src="~/dist/img/elisa.jpg" alt="Beautiful Elisa"/></div>*@
        <div class="col-lg-5"><img src="~/dist/img/jacob.jpg" alt="handsome Jacob" /></div>
        <div class="col-lg-7">
            <p>
                I first met Elisa at a bible study in Huntsville. I don't remember the exact time or day, and neither
                does she, so don't give me too much grief about it. I can remember as I started talking to her and
                her siblings, I just knew that there was something special about them. I started spending more and
                more time with them at different events like the brunches they would host. I even invited them to a
                small birthday thing I was having and that was the day I fell in love with Elisa. I remember that just
                thinking of her filled my heart with warmth. I wanted to keep getting to know her as friends and let so
                I did nothing and did not blatantly act on my love or show it to her. The next January we were on the
                same trip to DC for the March for Life and she started to fall for me. She saw how I was protective of
                her and those around us and admired that of me. Eventually she fell more in love with me and I was honored
                with more invites to family events until I finally told her that I liked her and was interested in courting
                her. So after a whole 13 months of me loving this amazing woman, I finally got to court her. Six months later
                we got engaged and soon, two years after I fell in love with her, we will get married!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5"><img src="~/dist/img/elisa.jpg" alt="beautiful Elisa" /></div>
        <div class="col-lg-7">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Tempus urna et pharetra pharetra massa massa ultricies. Eget nulla facilisi etiam dignissim diam quis. Cras
                adipiscing enim eu turpis egestas pretium aenean pharetra. Nulla facilisi cras fermentum odio eu feugiat. At tellus
                at urna condimentum mattis pellentesque id. Nec ullamcorper sit amet risus nullam. Ut faucibus pulvinar elementum
                integer enim. Convallis aenean et tortor at risus viverra adipiscing at in. Feugiat nibh sed pulvinar proin gravida
                hendrerit lectus. Et malesuada fames ac turpis egestas integer eget aliquet. Pellentesque dignissim enim sit amet
                venenatis urna cursus. Volutpat consequat mauris nunc congue.
            </p>
        </div>
    </div>
</div>
