@{
}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="header">How we met</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs"><img src="~/dist/img/elisa.jpg" alt="Beautiful Elisa"/></div>
            <div class="col-md-6">
                <p>
                    I first met Elisa at a bible study in Huntsville. I don't remember the exact time or day, and neither
                    does she, so don't give me too much grief about it. I can remember as I started talking to her and
                    her siblings, I just knew that there was something special about them. I started spending more and
                    more time with them at different events like the brunches they would host. I even invited them to a
                    small birthday thing I was having and that was the day I fell in love with Elisa. I remember that just
                    thinking of her filled my heart with warmth. I wanted to keep getting to know her as friends and let so
                    I did nothing and did not blatantly act on my love or show it to her. The next January we were on the
                    same trip to DC for the March for Life and she started to fall for me. She saw how I was protective of
                    her and those around us and admired that of me. Eventually she fell more in love with me and I was honored
                    with more invites to family events until I finally told her that I liked her and was interested in courting
                    her. So after a whole 13 months of me loving this amazing woman, I finaly got to court her. Six months later
                    we got engaged and soon, two years after I fell in love with her, we will get married!
                </p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs"><img src="~/dist/img/jacob.jpg" alt="handsome Jacob"/></div>
        </div>
    </div>
