@{
    Layout = "_Layout";
}

<div class="container">
    <h1>Rehearsal Dinner</h1>
    <div class="row">
        <div class="col">
            <h2>Place</h2>
            <p class="mb-0">The Lake Weddings <small>(The same as the Reception)</small></p>
            <p class="mt-0">280 Blakely Lk Dr, Oneonta, AL 35121</p>
        </div>
        <div class="col">
            <h2>Time</h2>
            <p class="mb-0">Tentative Time</p>
            <p class="mt-0">6:00pm - 8:00pm</p>
        </div>
        <div class="col">
            <h2>Attire</h2>
            <p>Semi-Formal</p>
        </div>
    </div>
</div>