@if (ViewData.TryGetValue("slideshowImages", out var slideshowImagePaths))
{
    <div class="slideshow-container">
        @foreach (var image in (slideshowImagePaths as IEnumerable<Wedding.Data.ImageLocation>) ?? new List<Wedding.Data.ImageLocation>())
        {
            <div class="mySlides fade show" style="display:block">
                <img class="@(image.IsPortrait ? "portrait" : "")" src="@image.ImageSource" style="width:100%;">
                <div class="text"></div>
            </div>
        }
        <div id="prev-slide-btn" class="prev">&#10094;</div>
        <div id="next-slide-btn" class="next">&#10095;</div>
    </div>
}