@import "site";

/* ==========================================================================
Navigation
========================================================================== */
nav {
    transition: all 300ms ease-in-out;
    background-color: $header-background;
    width: 100%;
    z-index: 999;

    .nav-item {
        .nav-link {
            color: $white-color !important;
        }
    }
}
