.petition,
.thanksgiving {
    span {
        font-weight: bold;
        text-decoration: underline;
    }
}

.mystery h2,
h1 {
    padding-top: 2em;
}

// .mystery h3 {
//     padding-top: 1em;
// }

.response {
    font-weight: bold;
    margin-left: 5em;
}